<div class="card">
  <div class="header">
    <h4 class="title">Gosok Genteng</h4>
    <p class="category">Here is a subtitle for this table</p>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>No. Rendam</th>        
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Keterangan</th>        
        <% if current_user.role.eql?("gosok_genteng") || current_user.role.eql?("cat_genteng") %>   
        <th>Aksi</th>
        <% end %>
      </thead>
      <tbody>
        <% @gosoks.each do |gosok| %>
        <tr>
          <td><%= gosok.id %></td>
          <td><%= gosok.rendam_id %></td>
          <td><%= gosok.created_at.to_date %></td>
          <td><%= gosok.hasil %></td>
          <td><%= gosok.rusak %></td>
          <td><%= gosok.keterangan %></td>
          <td>
          <% if current_user.role.eql?("gosok_genteng") %>   
            <%= link_to 'Edit', edit_gosok_path(gosok), class: "btn btn-info btn-fill btn-sm" %>
          <% elsif current_user.role.eql?("cat_genteng") %>   
            <%= link_to 'Tambah Cat Genteng', new_cat_gtg_path(gosok_id: gosok), class: "btn btn-info btn-fill btn-sm" %>
          <% end %>
          </td>
        </tr>              
        <%end%>
      </tbody>
    </table>

  </div>
</div>
