<p id="notice"><%= notice %></p>

<h1>Listing Gosoks</h1>

<table>
  <thead>
    <tr>
      <th>Rendam</th>
      <th>Date</th>
      <th>Hasil</th>
      <th>Rusak</th>
      <th>Keterangan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gosoks.each do |gosok| %>
      <tr>
        <td><%= gosok.rendam_id %></td>
        <td><%= gosok.date %></td>
        <td><%= gosok.hasil %></td>
        <td><%= gosok.rusak %></td>
        <td><%= gosok.keterangan %></td>
        <td><%= link_to 'Show', gosok %></td>
        <td><%= link_to 'Edit', edit_gosok_path(gosok) %></td>
        <td><%= link_to 'Destroy', gosok, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gosok', new_gosok_path %>
