<% if (@hp.ip.cetak_blok rescue nil) %>
<div class="card">
  <div class="header">
    <h4 class="title">Cetak Blok</h4>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Instruksi Produksi</th>        
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Target Produksi</th>
        <th>Keterangan</th>                      
      </thead>
      <tbody>
        <tr>
          <td><%= @hp.ip.cetak_blok.id %></td>
          <td><%= @hp.ip.cetak_blok.ip_id %></td>
          <td><%= @hp.ip.cetak_blok.created_at.to_date %></td>
          <td><%= @hp.ip.cetak_blok.hasil %></td>
          <td><%= @hp.ip.cetak_blok.rusak %></td>
          <td><%= @hp.target_produksi %></td>
          <td><%= @hp.ip.cetak_blok.keterangan %></td>       
          
        </tr>  
      </tbody>
    </table>

  </div>
</div>

<% end %>

<% if @hp.ip.cetak_blok %>
<div class="card">
  <div class="header">
    <h4 class="title">Cat</h4>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Keterangan</th>                      
      </thead>
      <tbody>
        <tr>
          <td><%= @hp.ip.cetak_blok.cat_blok.id %></td>
          <td><%= @hp.ip.cetak_blok.cat_blok.created_at.to_date %></td>
          <td><%= @hp.ip.cetak_blok.cat_blok.hasil %></td>
          <td><%= @hp.ip.cetak_blok.cat_blok.rusak %></td>
          <td><%= @hp.ip.cetak_blok.cat_blok.keterangan %></td>       
          
        </tr>  
      </tbody>
    </table>

  </div>
</div>
<% end %>