<div class="card">
  <div class="header">
    <h4 class="title">Cetak Genteng</h4>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Instruksi Produksi</th>        
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Keterangan</th>                      
      </thead>
      <tbody>
        <tr>
          <td><%= @hp.cat_gtg.gosok.rendam.cetak_gtg.id %></td>
          <td><%= @hp.cat_gtg.gosok.rendam.cetak_gtg.ip_id %></td>
          <td><%= @hp.cat_gtg.gosok.rendam.cetak_gtg.date %></td>
          <td><%= @hp.cat_gtg.gosok.rendam.cetak_gtg.hasil %></td>
          <td><%= @hp.cat_gtg.gosok.rendam.cetak_gtg.rusak %></td>
          <td><%= @hp.cat_gtg.gosok.rendam.cetak_gtg.keterangan %></td>       
          
        </tr>  
      </tbody>
    </table>

  </div>
</div>

<div class="card">
  <div class="header">
    <h4 class="title">Rendam</h4>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Keterangan</th>                      
      </thead>
      <tbody>
        <tr>
          <td><%= @hp.cat_gtg.gosok.rendam.id %></td>
          <td><%= @hp.cat_gtg.gosok.rendam.date %></td>
          <td><%= @hp.cat_gtg.gosok.rendam.hasil %></td>
          <td><%= @hp.cat_gtg.gosok.rendam.rusak %></td>
          <td><%= @hp.cat_gtg.gosok.rendam.keterangan %></td>       
          
        </tr>  
      </tbody>
    </table>

  </div>
</div>

<div class="card">
  <div class="header">
    <h4 class="title">Gosok</h4>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Keterangan</th>                      
      </thead>
      <tbody>
        <tr>
          <td><%= @hp.cat_gtg.gosok.id %></td>
          <td><%= @hp.cat_gtg.gosok.date %></td>
          <td><%= @hp.cat_gtg.gosok.hasil %></td>
          <td><%= @hp.cat_gtg.gosok.rusak %></td>
          <td><%= @hp.cat_gtg.gosok.keterangan %></td>       
          
        </tr>  
      </tbody>
    </table>

  </div>
</div>

<div class="card">
  <div class="header">
    <h4 class="title">Cat</h4>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Keterangan</th>                      
      </thead>
      <tbody>
        <tr>
          <td><%= @hp.cat_gtg.id %></td>
          <td><%= @hp.cat_gtg.date %></td>
          <td><%= @hp.cat_gtg.hasil %></td>
          <td><%= @hp.cat_gtg.rusak %></td>
          <td><%= @hp.cat_gtg.keterangan %></td>       
          
        </tr>  
      </tbody>
    </table>

  </div>
</div>