<% if (@hp.ip.cetak_gtg rescue nil)%>
<div class="card">
  <div class="header">
    <h4 class="title">Cetak Genteng</h4>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Instruksi Produksi</th>        
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Target Produksi</th>
        <th>Keterangan</th>                      
      </thead>
      <tbody>
        <tr>
          <td><%= @hp.ip.cetak_gtg.id %></td>
          <td><%= @hp.ip.cetak_gtg.ip_id %></td>
          <td><%= @hp.ip.cetak_gtg.created_at.to_date %></td>
          <td><%= @hp.ip.cetak_gtg.hasil %></td>
          <td><%= @hp.ip.cetak_gtg.rusak %></td>
          <td><%= @hp.target_produksi %></td>
          <td><%= @hp.ip.cetak_gtg.keterangan %></td>       
          
        </tr>  
      </tbody>
    </table>

  </div>
</div>
<% end %>
<% if (@hp.ip.cetak_gtg.rendam rescue nil)%>
<div class="card">
  <div class="header">
    <h4 class="title">Rendam</h4>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Keterangan</th>                      
      </thead>
      <tbody>
        <tr>
          <td><%= @hp.ip.cetak_gtg.rendam.id %></td>
          <td><%= @hp.ip.cetak_gtg.rendam.created_at.to_date %></td>
          <td><%= @hp.ip.cetak_gtg.rendam.hasil %></td>
          <td><%= @hp.ip.cetak_gtg.rendam.rusak %></td>
          <td><%= @hp.ip.cetak_gtg.rendam.keterangan %></td>       
          
        </tr>  
      </tbody>
    </table>

  </div>
</div>
<% end %>
<% if (@hp.ip.cetak_gtg.rendam.gosok rescue nil)%>

<div class="card">
  <div class="header">
    <h4 class="title">Gosok</h4>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Keterangan</th>                      
      </thead>
      <tbody>
        <tr>
          <td><%= @hp.ip.cetak_gtg.rendam.gosok.id %></td>
          <td><%= @hp.ip.cetak_gtg.rendam.gosok.created_at.to_date %></td>
          <td><%= @hp.ip.cetak_gtg.rendam.gosok.hasil %></td>
          <td><%= @hp.ip.cetak_gtg.rendam.gosok.rusak %></td>
          <td><%= @hp.ip.cetak_gtg.rendam.gosok.keterangan %></td>       
          
        </tr>  
      </tbody>
    </table>

  </div>
</div>

<% end %>
<% if (@hp.cat_gtg rescue nil)%>
<div class="card">
  <div class="header">
    <h4 class="title">Cat</h4>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Keterangan</th>                      
      </thead>
      <tbody>
        <tr>
          <td><%= @hp.cat_gtg.id %></td>
          <td><%= @hp.cat_gtg.created_at.to_date %></td>
          <td><%= @hp.cat_gtg.hasil %></td>
          <td><%= @hp.cat_gtg.rusak %></td>
          <td><%= @hp.cat_gtg.keterangan %></td>       
          
        </tr>  
      </tbody>
    </table>

  </div>
</div>
<% end %>