<div class="card">
  <div class="header">
    <h4 class="title">Hasil Produksi</h4>
    <p class="category">Here is a subtitle for this table</p>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>No. IP</th>
        <th>No. RP</th>
        <th>Hasil Produksi</th>
        <th>Target Produksi</th>        
        <th>Aksi</th>
      </thead>
      <tbody>
        <% @hps.each_with_index do |hp| %>
        <tr>
          <td><%= hp.id %></td>            
          <td><%= hp.ip_id %></td>
          <td><%= hp.rp_id %></td>
          <td><%= hp.hasil_produksi %></td>
          <td><%= hp.target_produksi %></td>        
          <td>
            <%= link_to 'Edit', edit_hp_path(hp), class: "btn btn-info btn-fill btn-sm" %>
            <%= link_to 'Destroy', hp, class: "btn btn-danger btn-fill btn-sm", data: {confirm: "Anda yakin akan menghapus data ini?"}, method: :delete %>
          </td>
        </tr>              
        <%end%>
      </tbody>
    </table>

  </div>
</div>
