<div class="card">
  <div class="header">
    <h4 class="title">Hasil Produksi</h4>
    <p class="category">Here is a subtitle for this table</p>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Instruksi Produksi</th>
        <th>Rencana Produksi</th>
        <th>Hasil Produksi</th>
        <th>Target Produksi</th>    
        <th>Status Pengerjaan</th>    
        <%if action_name.eql?('index') %>    
        <th>Aksi</th>
        <% end%>
      </thead>
      <tbody>
        <% @hps.each_with_index do |hp| %>
        <% next if hp.hide_it %>
        <tr>
          <td><%= hp.id %></td>   
          <td><%= hp.ip.mask_id %></td>   
          <td><%= hp.ip.pb.rp.mask_id %></td>   
          <td><%= hp.hasil_produksi %></td>
          <td><%= hp.target_produksi %></td>
          <td><%= hp.status_pengerjaan %></td>
          <%if action_name.eql?('index') %>            
          <td>
            <%= link_to 'Detail', hp_path(hp), class: "btn btn-info btn-fill btn-sm" %>            
          </td>
          <% end %>
        </tr>              
        <%end%>
      </tbody>
    </table>

  </div>
</div>
