

<div class="card">
  <div class="header">
    <h4 class="title"><%= action_name.titleize %></h4>
  </div>
  <div class="content">
    <%= form_for(@cat_blok) do |f| %>
    <div class="row">
        
        <div class="col-md-12">
 <% if @cat_blok.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cat_blok.errors.count, "error") %> prohibited this cat_blok from being saved:</h2>

      <ul>
      <% @cat_blok.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        </div>        
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Cetak Blok</label>
            <%= f.select :cetak_blok_id, CetakBlok.all.map { |c| [ c.id, c.id ] }, {}, :class => "form-control border-input" %>
          </div>
        </div>    
        <div class="col-md-6">
          <div class="form-group">
            <label>Hasil</label>
            <%= f.number_field :hasil, :class => "form-control border-input" %>
          </div>
        </div>
        
        
      </div>

        

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Rusak</label>
            <%= f.number_field :rusak, :class => "form-control border-input" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Keterangan</label>
            <%= f.text_field :keterangan, :class => "form-control border-input" %>
          </div>
        </div>
        </div>
      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill btn-wd">Save</button>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>
</div>
