<div class="card">
  <div class="header">
    <h4 class="title">Rendam</h4>
    <p class="category">Here is a subtitle for this table</p>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Cetak Genteng</th>        
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Keterangan</th>     
        <% if current_user.role.eql?("rendam_genteng") %>   
          <th>Aksi</th> 
        <% end %>
      </thead>
      <tbody>
<% @rendams.each do |rendam| %>
      <tr>
        <td><%= rendam.id %></td>
        <td><%= rendam.cetak_gtg_id %></td>
        <td><%= rendam.created_at.to_date %></td>
        <td><%= rendam.hasil %></td>
        <td><%= rendam.rusak %></td>
        <td><%= rendam.keterangan %></td>
        <% if current_user.role.eql?("rendam_genteng") %>   
          <td><%= link_to 'Edit', edit_rendam_path(rendam), class: "btn btn-info btn-fill btn-sm" %>
        <% end%>
          </tr>              
        <%end%>
      </tbody>
    </table>

  </div>
</div>
