<div class="card">
  <div class="header">
    <h4 class="title">Cetak Genteng</h4>
    <p class="category">Here is a subtitle for this table</p>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-striped">
      <thead>
        <th>ID</th>
        <th>Instruksi Produksi</th>        
        <th>Date</th>
        <th>Hasil</th>
        <th>Rusak</th>
        <th>Schedule qty</th>
        <th>Item name</th>
        <th>Plan date</th>
        
        <th>Keterangan</th>        
        <% if current_user.role.eql?("cetak_genteng") %>   
        <th>Aksi</th>
        <% end %>
      </thead>
      <tbody>
        <% @cetak_gtgs.each do |cetak_gtg| %>
        <tr>
          <td><%= cetak_gtg.id %></td>
          <td><%= cetak_gtg.ip_id %></td>
          <td><%= cetak_gtg.created_at.to_date %></td>
          <td><%= cetak_gtg.hasil %></td>
          <td><%= cetak_gtg.rusak %></td>
          <td><%= cetak_gtg.ip.pb.rp.schedule_qty %></td>
          <td><%= cetak_gtg.ip.pb.rp.barang.id_barang %></td>
          <td><%= cetak_gtg.ip.pb.rp.plan_date %></td>

          <td><%= cetak_gtg.keterangan %></td>
          <% if current_user.role.eql?("cetak_genteng") %>   
          <td>
            <%= link_to 'Edit', edit_cetak_gtg_path(cetak_gtg), class: "btn btn-info btn-fill btn-sm" %>            
          </td>
          <% elsif current_user.role.eql?("rendam_genteng") %>   
          <td>
            <%= link_to 'Tambah Rendam Genteng', new_rendam_path(cetak_gtg_id: cetak_gtg), class: "btn btn-info btn-fill btn-sm" if cetak_gtg.rendam.blank? %>            
          </td>
          <% end %>
        </tr>              
        <%end%>
      </tbody>
    </table>

  </div>
</div>
