
<div class="card">
  <div class="header">
    <h4 class="title"><%= action_name.titleize %></h4>
  </div>
  <div class="content">
    <%= form_for(@rp) do |f| %>
       <div class="row">
        
        <div class="col-md-12">
            <% if @rp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rp.errors.count, "error") %> prohibited this rp from being saved:</h2>

      <ul>
      <% @rp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        </div>        
      </div>

      <div class="row">
        
        <div class="col-md-6">
          <div class="form-group">
            <label>Schedule Qty</label>            
            <%= f.number_field :schedule_qty, :class => "form-control border-input" %>
          </div>
        </div>        
        <div class="col-md-6">
          <div class="form-group">
            <label>Barang</label>
            <%#= f.select :barang_id, Barang.all.map { |c| [ "#{c.type_barang} (#{c.id_barang})", c.id ] }, {}, :class => "form-control border-input" %>
            <br>
            <%= f.select :barang_id,
              Barang.all.map { |c| [ "#{c.type_barang} (#{c.id_barang})", c.id ] },
                           { include_blank: true },
                           { class: 'chosen-select form-control border-input' }
            %>
          </div>
        </div>
        
      </div>

      <div class="row">
      <div class="col-md-6">
          <div class="form-group">
            <label>Keterangan</label>            
            <%= f.text_field :keterangan, :class => "form-control border-input" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Plan Date (DD/MM/YYYY)</label>
            <%= f.text_field :plan_date, :class => "form-control border-input datepicker" %>
          </div>
        </div>
        </div>
      
      <div class="text-center">
        <button type="submit" class="btn btn-info btn-fill btn-wd">Save</button>
      </div>
      <div class="clearfix"></div>
    <% end %>
  </div>
</div>
