<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
    Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
    Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="index.php" class="simple-text">
                    Siprosi
                </a>
            </div>

            <ul class="nav">
                <li class="<%='active' if controller_name == 'dashboard' %>">
                    <a href="/">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <% if current_user.role == 'admin' %> 
                    <li class="<%='active' if controller_name == 'users' %>">
                        <a href="/users">
                            <i class="ti-view-list-alt"></i>
                            <p>Kelola User</p>
                        </a>
                    </li>
                <% end %>
                <% if current_user.role == 'pb' || current_user.role == 'produksi' %> 
                <li class="<%='active' if controller_name == 'pbs' %>">
                        <a href="/pbs">
                            <i class="ti-view-list-alt"></i>
                            <p>Permintaan Bahan</p>
                        </a>
                </li>
                <% end %>
                
                <% if current_user.role == 'produksi' %> 
                <li class="<%='active' if controller_name == 'rps' %>">
                        <a href="/rps">
                            <i class="ti-view-list-alt"></i>
                            <p>Rancangan Produksi</p>
                        </a>
                </li>
                <li class="<%='active' if controller_name == 'ips' %>">
                        <a href="/ips">
                            <i class="ti-view-list-alt"></i>
                            <p>Instruksi Produksi</p>
                        </a>
                </li>
         <li class="<%='active' if controller_name == 'hps' %>">
                        <a href="/hps">
                            <i class="ti-view-list-alt"></i>
                            <p>Hasil Produksi</p>
                        </a>
                </li>
                <% end %>
                <% if current_user.role == 'cetak_blok' %> 
        <li class="<%='active' if controller_name == 'cetak_bloks' %>">
                        <a href="/cetak_bloks">
                            <i class="ti-view-list-alt"></i>
                            <p>Cetak Blok</p>
                        </a>
                </li>        
                <% end %>
                <% if current_user.role == 'cetak_genteng' %> 
                  <li class="<%='active' if controller_name == 'cetak_gtgs' %>">
                        <a href="/cetak_gtgs">
                            <i class="ti-view-list-alt"></i>
                            <p>Cetak Genteng</p>
                        </a>
                </li>       
                <% end %> 
                <% if current_user.role == 'cat_blok' %> 
                <li class="<%='active' if controller_name == 'cat_bloks' %>">
                        <a href="/cat_bloks">
                            <i class="ti-view-list-alt"></i>
                            <p>Cat Blok</p>
                        </a>
                </li>        
                <% end %>
<% if current_user.role == 'rendam_genteng' %> 
                <li class="<%='active' if controller_name == 'rendams' %>">
                        <a href="/rendams">
                            <i class="ti-view-list-alt"></i>
                            <p>Rendam</p>
                        </a>
                </li>        
                <% end %>
                <% if current_user.role == 'gosok_genteng' %> 
                <li class="<%='active' if controller_name == 'gosoks' %>">
                        <a href="/gosoks">
                            <i class="ti-view-list-alt"></i>
                            <p>Gosok</p>
                        </a>
                </li>       
                <% end %> 
                <% if current_user.role == 'cat_genteng' %> 
                <li class="<%='active' if controller_name == 'cat_gtgs' %>">
                        <a href="/cat_gtgs">
                            <i class="ti-view-list-alt"></i>
                            <p>Cat Genteng</p>
                        </a>
                </li>        
                <% end %>

        <li class="active-pro">
                    <a href="<?php echo $GLOBALS['BASE_DIR']; ?>signout.php">
                        <i class="ti-export"></i>
                        <p>Sign Out</p>
                    </a>
                </li>
            </ul>
      </div>
    </div>
    <div class="main-panel">
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class='navbar-brand' href='#'>Welcome to SIPROSI</a>                        
                </div>

                
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <p class="notice"><%= notice %></p>
                        <p class="alert"><%= alert %></p>
                        <% unless controller_name == "dashboard" %>
                          <div class="pull-right"><a class="btn btn-info btn-fill btn-wd" href="<%= controller_name %>/new">Tambah baru</a></div><div class="clearfix"></div><br/>
                        <% end %>
                        