<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">

    <!--
    Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
    Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
  -->

      <div class="sidebar-wrapper">
            <div class="logo">
                <a href="index.php" class="simple-text">
                    Siprosi
                </a>
            </div>

            <ul class="nav">
                <li class="<%='active' if controller_name == 'dashboard' && action_name == 'home' %>">
                    <a href="/">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <% if current_user.role == 'admin' %> 
                    <li class="<%='active' if controller_name == 'manage_users' %>">
                        <a href="manage_users">
                            <i class="ti-view-list-alt"></i>
                            <p>Kelola User</p>
                        </a>
                    </li>
                <% end %>
                <% if current_user.role == 'gudang' || current_user.role == 'produksi' %> 
                <li class="<%='active' if controller_name == 'pbs' %>">
                        <a href="/pbs">
                            <i class="ti-view-list-alt"></i>
                            <% if current_user.role.eql?('gudang') %>
                            <p>Permintaan Bahan <span class="badge"><%= @notification.pb_count.nonzero?  %></span></p>
                            <% elsif current_user.role.eql?('produksi') %>
                            <p>Permintaan Bahan <span class="badge"><%= @notification.konfirmasi_count.nonzero?  %></span></p>
                            <% else %>
                            <p>Permintaan Bahan</p>
                            <% end %>
                        </a>
                </li>
                <% end %>
                
                <% if current_user.role == 'produksi' || current_user.role == 'ppic' %> 
                <li class="<%='active' if controller_name == 'rps' %>">
                        <a href="/rps">
                            <i class="ti-view-list-alt"></i>
                            <p>Rencana Produksi <span class="badge"><%= @notification.rp_count.nonzero? if current_user.role.eql?('produksi') %></span></p>
                        </a>
                </li>
                <% end %>
                <% if current_user.role == 'ppic' || current_user.role == 'produksi' %> 
                <li class="<%='active' if controller_name == 'hps' && action_name.eql?('reject_produksi') %>">
                        <a href="/reject_produksi">
                            <i class="ti-view-list-alt"></i>
                            <p>Reject Produksi</p>
                        </a>
                </li>
                <% end %>
                <% if ['produksi', 'cetak_genteng', 'cetak_blok'].include?(current_user.role) %>
                <li class="<%='active' if controller_name == 'ips' %>">
                        <a href="/ips">
                            <i class="ti-view-list-alt"></i>
                            <% if current_user.role.eql?('cetak_genteng') %>
                            <p>Instruksi Produksi <span class="badge"><%= @notification.ip_gtg_count.nonzero?  %></span></p>
                            <% elsif current_user.role.eql?('cetak_blok') %>
                            <p>Instruksi Produksi <span class="badge"><%= @notification.ip_blok_count.nonzero?  %></span></p>
                            <%else%>
                            <p>Instruksi Produksi</p>
                            <% end %>
                            
                        </a>
                </li>
                <% end %>
                <% if current_user.role == 'produksi' %> 
         <li class="<%='active' if controller_name == 'hps' %>">
                        <a href="/hps">
                            <i class="ti-view-list-alt"></i>
                            <p>Hasil Produksi <span class="badge"><%= @notification.hasil_produksi.nonzero? if current_user.role.eql?('produksi') %></span></p>
                        </a>
                </li>
                <% end %>
                <% if current_user.role == 'cetak_blok' || current_user.role == 'cat_blok' %> 
        <li class="<%='active' if controller_name == 'cetak_bloks' %>">
                        <a href="/cetak_bloks">
                            <i class="ti-view-list-alt"></i>
                            <p>Cetak Blok</p>
                        </a>
                </li>        
                <% end %>
                <% if ['rendam_genteng', 'cetak_genteng'].include?(current_user.role) %>
                  <li class="<%='active' if controller_name == 'cetak_gtgs' %>">
                        <a href="/cetak_gtgs">
                            <i class="ti-view-list-alt"></i>
                            <p>Cetak Genteng <span class="badge"><%= @notification.cetak_gtg_count.nonzero? if current_user.role.eql?('rendam_genteng') %></span></p>
                        </a>
                </li>       
                <% end %> 
                <% if current_user.role == 'cat_blok' %> 
                <li class="<%='active' if controller_name == 'cat_bloks' %>">
                        <a href="/cat_bloks">
                            <i class="ti-view-list-alt"></i>
                            <p>Cat Blok</p>
                        </a>
                </li>        
                <% end %>
            <% if ['rendam_genteng', 'gosok_genteng'].include?(current_user.role) %>
                <li class="<%='active' if controller_name == 'rendams' %>">
                        <a href="/rendams">
                            <i class="ti-view-list-alt"></i>
                            <p>Rendam <span class="badge"><%= @notification.rendam_count.nonzero? if current_user.role.eql?('gosok_genteng') %></span></p>
                        </a>
                </li>        
                <% end %>
                <% if ['cat_genteng', 'gosok_genteng'].include?(current_user.role) %>
                <li class="<%='active' if controller_name == 'gosoks' %>">
                        <a href="/gosoks">
                            <i class="ti-view-list-alt"></i>
                            <p>Gosok <span class="badge"><%= @notification.gosok_count.nonzero? if current_user.role.eql?('cat_genteng') %></span></p>
                        </a>
                </li>       
                <% end %> 
                <% if current_user.role == 'cat_genteng' %> 
                <li class="<%='active' if controller_name == 'cat_gtgs' %>">
                        <a href="/cat_gtgs">
                            <i class="ti-view-list-alt"></i>
                            <p>Cat Genteng</p>
                        </a>
                </li>        
                <% end %>

                 <% if current_user.role == 'produksi' || current_user.role == 'gudang'  %> 
                <li class="<%='active' if controller_name == 'dashboard' && action_name == 'laporan' %>">
                        <a href="/laporan">
                            <i class="ti-view-list-alt"></i>
                            <p>Laporan</p>
                        </a>
                </li>        
                <% end %>

        <li class="active-pro">
          <%= link_to("<i class='ti-export'></i><p>Sign Out</p>".html_safe, destroy_user_session_path, method: :delete) %>        
                </li>
            </ul>
      </div>
    </div>
    <div class="main-panel">
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class='navbar-brand' href='#'>Welcome to SIPROSI</a>                        
                </div>

                
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                    <div id="imaginary_container"> 
                    <p class="notice"><%= notice %></p>
                    <p class="alert"><%= alert %></p>
                    <% if show_search %>
                    <div class="input-group stylish-input-group">
                        <input type="text" class="form-control"  placeholder="Search" value="<%= params[:q] %>">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="ti-search"></span>
                            </button>  
                            </span>
                        </div>
                    </div>
                    <% end %>
            

                        <% if has_access_to_create %>
                          <div class="pull-right"><a class="btn btn-info btn-fill btn-wd" href="<%= controller_name %>/new">Tambah baru</a></div><div class="clearfix"></div><br/>
                        <% end %>
                        